*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


header{
    background-color: rgb(240, 223, 237);
    height: 60px;
    width:100%;
    display: flex;
    justify-content: space-around;
    /* margin-left: 160px; */
} 
/*...styling the logo*/
.logo{
   
    width: 40%;
    height: 60px;
    color: black;
    display: flex;
    align-items: center;
   
    
}

.logo i{
    color: rgb(245, 149, 24);
    font-weight: bolder;
}
/* nav styling */
nav{
    height: 60px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    
}
nav a:hover{
    background-color: rgb(245, 149, 24);
    padding: 10px;
}

/* main section styling */
.profile{
    height: 500px;
    margin-top: 20px;
    border: 1px;
    border-radius: 30px;
    box-shadow:-8px 8px 10px rgb(245, 149, 24);
    
}
#prof{
    /* background:linear-gradient(-75deg,rgb(245, 149, 24) 50%,white 50%); */
    width: 60%;
    height: 450px;
    position: relative;
}     
#prof .profile{
    position: absolute;
}
#name{
    margin-top: 150px;
    font-weight: bold;
    color: rgb(245, 149, 24);
}
.p-3{
    font-weight: bold;
}
.btn{
    background-color:rgb(245, 149, 24);
}
/* about me section styling */
#about{
    background-color: rgb(240, 223, 237);
    height: 450px;
    margin-top: 100px;

}
.about{
    
    display: flex;
    justify-content: center;
    font-weight: bolder;
   
    
}
.about em{
    color: rgb(245, 149, 24);
    margin-left: 10px;
    text-decoration:underline ;
}
#person{
    border: 0px;
    box-shadow: 4px 0px 1px rgb(245, 149, 24);
}
h5.person{
    text-align: center;
   
}
#person ul{
   list-style:none ;
  
}
h5.my{
    text-align: center;
   
  
}
#my {
    border: 1px;
    /* box-shadow: 4px -5px 1px rgb(245, 149, 24); */
}
#my ul{
    list-style: none;
}
#exper{
    box-shadow: 4px -5px 1px rgb(245, 149, 24);
}
h5#experience{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
/* portfolio section */
#port{
    /* background-color:rgb(253, 251, 253) ; */
    margin-top: 70px;
}
#port i{
color:rgb(245, 149, 24) ;
}
.card{
    box-shadow: 4px -5px 1px rgb(245, 149, 24);
}  
h2#port{
    text-align: center;
    font-weight: bold;
}
footer.foot{
    background-color: rgb(245, 149, 24);
    text-align: center;
    
}
@media only screen and(max-width:760px){
    a.nav{
        display:block;
        position:absolute;
    }
       
  
}