*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(240, 223, 237);
    height: 80px;
    width:80%;
    display: flex;
    justify-content: space-around;
    margin-left: 160px;
} 
/*...styling the logo*/
.logo{
   
    width: 40%;
    height: 70px;
    color: black;
    display: flex;
    align-items: center;
    
    
}

.logo i{
    color: rgb(245, 149, 24);
    font-weight: bolder;
}
/* nav styling */
nav{
    height: 100px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    
}
nav a:hover{
    background-color: rgb(245, 149, 24);
    padding: 10px;
}

/* main section styling */
.profile{
    height: 500px;
    margin-top: 20px;
    border: 1px;
    border-radius: 30px;
    box-shadow:-8px 8px 10px gainsboro;
   
}
#prof{
    /* background:linear-gradient(-75deg,rgb(245, 149, 24) 50%,white 50%); */
    width: 60%;
    height: 550px;
    position: relative;
    
}
#prof .profile{
    position: absolute;
}
#name{
    margin-top: 150px;
    font-weight: bold;
    color: rgb(245, 149, 24);
}
.p-3{
    font-weight: bold;
}
.btn{
    background-color:rgb(245, 149, 24);
}
/* about me section styling */
#about{
    background-color: rgb(240, 223, 237);

}
.about{
    
    display: flex;
    justify-content: center;
    font-weight: bolder;
   
    
}
.about em{
    color: rgb(245, 149, 24);
    margin-left: 10px;
    text-decoration:underline ;
}
